.product{
    width: 250px;
    height: 545px;
    border: 1px solid #ccc;
}
.product .img{
    width: 100%;
    height: 335px;
}
.product .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details{
    padding: 5px;
}
.details h3{
    margin-bottom: 10px;
    font-size: 14px;
}
.details p{
    font-size: 14px;
    font-weight: 500;
    color: #084b29;
}
